.skills {
    border-bottom: 6px groove #706F6D;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    margin-left: 25%;
}

.skills__list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
    .skills {
        margin-left: 0;
        text-align: center;
    }
}