.contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: justify;
}

.contact__icon {
    width: 1rem;
}

.contact__link {
    color: #1B1B1B;
}

.contact__link:hover {
    color: #000000;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .contact {
        margin: 1rem 0 0 0;
        text-align: center;
    }
}