.header {
    align-items: center;
    display: flex;
    gap: 1vw;
    border-bottom: 6px groove #706F6D;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.header__image {
    /* width: 25vw; */
    width: 300px;
    border: 1px solid #706F6D;
}

.header__texts {
    width: 100%;
}

.header__function {
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.header__name, .header__lastName {
    font-size: 10rem;
}

@media screen and (max-width: 899px) {
    .header__image {
        width: 30vw;
    }

    .header__function {
        font-size: 1.8rem;
    }

    .header__name, .header__lastName {
        font-size: 8rem;
    }
}

@media screen and (max-width: 768px) {
    .header__function {
        font-size: 1.4rem;
    }

    .header__name, .header__lastName {
        font-size: 6rem;
    }
}

@media screen and (max-width: 480px) {
    .header__image {
        width: 150px;
    }

    .header__function {
        font-size: 1rem;
    }

    .header__name, .header__lastName {
        font-size: 4.2rem;
    }
}

@media screen and (max-width: 390px) {
    .header__image {
        width: 130px;
    }

    .header__function {
        font-size: 0.825rem;
    }

    .header__name, .header__lastName {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 310px) {
    .header__image {
        width: 120px;
    }

    .header__function {
        font-size: 0.625rem;
    }

    .header__name, .header__lastName {
        font-size: 3rem;
    }
}