.education {
    font-size: 1.1rem;
    text-align: justify;
}

.education__formation {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .education {
        margin-top: 1rem;
        text-align: center;
    }
}